{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{block "title" .}}Shift Scheduler{{end}}</title>
        <script src='/static/htmx.min.js'></script>
    </head>
    <body>
        <header>
            <h1><a href='/'>Shift Scheduler</a></h1>
            <nav>
                <a href='/'>Home</a>
                <a href='/schedule'>Schedule</a>
                <a href='/approval'>Approval</a>
                {{if .User}}
                    <span>Logged in as {{.User.UserName}}</span>
                    <form method="POST" action="/logout">
                        <button type="submit">Logout</button>
                    </form>
                {{else}}
                    <a href='/login'>Login</a>
                    <a href='/register'>Register</a>
                {{end}}
            </nav>
        </header>
        <main>
            {{block "content" .}}{{end}}
        </main>
        <footer>Powered by Shawn Mendix</footer>
    </body>
</html>
{{end}}